*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  background: #05050a;
  color: #f0e8d8;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
